<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="robots" content="noindex" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CInconsolata:400,700%7CGreat+Vibes:400"
      media="all"
    />
    <link
      href="{{ url_for('static', filename='favicon-32x32.png') }}"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}" />
    {% block meta %}{% endblock %}
  </head>
  <body>
    {% block banner %}
    <div id="Banner">Keep sensitive info out of your email and chat logs.</div>
    {% endblock %}
    <div id="HeadingLine"></div>
    {% block content %}{% endblock %}
  </body>
</html>
